<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
         <param name="ssd_inception_model" value="light_classification/frozen_models/frozen_sim_inception/frozen_inference_graph.pb" />
         <param name="mode" value="normal" />
    </node>
</launch>
